<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Propra2 Teilnehmerliste</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<span class="navbar-brand" >Propra2 Teilnehmer</span>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="/all">Liste
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/addStudent">New Student</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="remove">Remove Student</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/group/addGroup">New Group </a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/group/allGroup">all Groups </a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/group/removeGroup">remove Group </a>
					</li>
						_______________
					<li class="nav-item"><a class="nav-link" href="/logOut">log Out </a>
					</li>
				
				</ul>
			</div>
		</nav>

		<form method="get" action="/apply/wahlApp" th:object="${group}">
			<p th:text="${group.name}"></p>
			<div style="float: left">
				<label >Wellcome in die  Gruppe :)</label>
				<div style="width:520px; height:300px; overflow:auto;">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">id</th>
							<th scope="col">Name</th>
							<th scope="col">Matrikelnummer</th>
						</tr>
					</thead>
						<tbody>
							<tr th:each="a,iterationStatus  : ${group.members}">
								<td th:text="${a.id}">id</td>
								<td th:text="${a.name}">Name</td>
								<td th:text="${a.matnr}">MatrikelNummer</td>
							</tr>
						</tbody>
				</table>
				</div>
				<div class="form-group">
					<label th:for="name"></label> <input type="hidden"
						class="form-control" th:field="*{name}" 
						placeholder="${group.name}"></input>
				</div>
			
				</div>
				<div style="float: right">

				<span class="navbar-brand" >Bewerbungen</span>
				----------------
				<div style="width:520px; height:300px; overflow:auto;">
				<table class="table"  >
					<thead class="thead-light">
						<tr>
							<th scope="col">id</th>
							<th scope="col">Student Name</th>
							<th scope="col">Groupss</th>
							<th scope="col">+ Voters</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="t,iterationStatus  : ${group.applys}">
							<td th:text="${t.id}"></td>
							<td th:text="${t.candidate.name}"></td>
							<td th:text="${t.relAppGroup.name}"></td>
							<td th:text="${t.voters.size()}"></td>
						</tr>
					</tbody>
				</table>
				</div>
				<button type="submit" class="btn btn-primary">Vote</button>
		
				</div>
				
		</form>
	</div>
</body>
</html>