<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Propra2 Teilnehmerliste</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<span class="navbar-brand" >Propra2 Teilnehmer</span>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="/all">Liste
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/addStudent">New Student</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/removeStudent">Remove Student</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/group/addGroup">New Group </a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/group/allGroup">all Groups </a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/group/removeGroup">remove Group </a>
					</li>
					_______________
					<li class="nav-item"><a class="nav-link" href="logOut">log Out </a>
					</li>
					
					
				</ul>
			</div>
		</nav>
		<div style="float: left">
		<span class="navbar-brand" >Groups</span>
		<div style="width:520px; height:300px; overflow:auto;">
		<table class="table" >
			<thead class="thead-dark">
				<tr>
					<th scope="col">id</th>
					<th scope="col">Name</th>
					<th scope="col">Students</th>
					<th scope="col">Applys</th>
				
				</tr>
			</thead>
			<tbody>
				<tr th:each="a,iterationStatus  : ${Liste2}">
					<td ><a href="studentsOfGroup"  th:text="${a.id}" th:field="*{id}"></a></td>
					<td th:text="${a.name}">Name</td>
				<!--	<td th:text="${a.members.size()}" ></td>   
					<td th:text="${a.applys.size()}" ></td>	-->
				</tr>
			</tbody>
		</table>
		</div>
		</div>
		<div style="float: right">

		<span class="navbar-brand" >Bewerbungen</span>
		<div style="width:520px; height:300px; overflow:auto;">
		<table class="table"  >
			<thead class="thead-light">
				<tr>
					<th scope="col">id</th>
					<th scope="col">Student Name</th>
					<th scope="col">Groupss</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="t,iterationStatus  : ${applyList}">
					<td th:text="${t.id}">isInGroup</td>
					<td th:text="${t.candidate.name}">id</td>
					<td th:text="${t.relAppGroup.name}">Name</td>
					
				</tr>
			</tbody>
		</table>
		</div>
		</div>
	</div>
</body>
</html>