<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Propra2 Teilnehmerliste</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<span class="navbar-brand" >Propra2 Teilnehmer</span>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="addGroup">New Group </a>
					</li>
				</ul>
			</div>
		</nav>
		
		<form method="post" action="studentsOfGroup" th:object="${student}">
			<label >Wellcom inthe Group  :)</label>
			<p th:text="${student.name}" name="name"></p>
			
			<div class="form-group">
					<label th:for="nameInput"></label> <input type="hidden"
						class="form-control" th:field="*{id}" 
						placeholder="${student.name}"></input>
				</div>


		<button type="submit" class="btn btn-primary">Weiter</button>
		
	</form>
	</div>
</body>
</html>